<div class="row">
  <div *ngIf="!isLoggedIn && !verify" class="col-xs-12 col-md-6 col-md-offset-3">
    <div *ngIf="error" class="alert alert-danger">
      <p>{{ error }}</p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="form-group">
        <label>E-Mail</label>
        <input [formControlName]="'email'" class="form-control" id="email" type="email"/>
        <p *ngIf="isControlHasError('email','required')" class="text-danger">
          <small><strong>Email is required</strong></small>
        </p>
        <p *ngIf="isControlHasError('email','email')" class="text-danger">
          <small><strong>Field is not valid</strong></small>
        </p>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input [formControlName]="'password'" class="form-control" id="password" type="password"/>
        <p *ngIf="isControlHasError('password','required')" class="text-danger">
          <small><strong>Password is required</strong></small>
        </p>
        <p *ngIf="isControlHasError('password','minlength')" class="text-danger">
          <small><strong>password minimum length is 6</strong></small>
        </p>
      </div>
      <div *ngIf="!isLoginMode" class="form-check pb-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" [formControlName]="'enable2fa'">
        <label class="form-check-label" for="exampleCheck1">enable 2fa authentication</label>
      </div>
      <div>
        <button class="btn btn-primary" type="submit">{{isLoginMode ? 'login' : 'Sign up'}}</button>
        |
        <button (click)="onSwitchMode()" class="btn btn-primary" type="button">Switch
          to {{isLoginMode ? 'Sign up' : 'login' }}</button>
      </div>
      <div *ngIf="isLoading" style="text-align: center">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="isLoggedIn">
    <button (click)="signOut()" class="btn btn-primary" type="button">sign out</button>
  </div>
  <div *ngIf="verify">
    <form (ngSubmit)="verifyCode()" [formGroup]="verificationForm">
      <h1>Sign Up: Setup and verify Two-Step Authentication</h1>

      <p>Open or scan the following link with your Authenticator app</p>
      <p>
        <a [href]="qrSafeLink"><img [src]="qrCode" alt="google authenticator qr code"></a>
      </p>

      <p>Enter the 6-digit code from your authenticator app into the code field</p>
      <div class="form-group">
        <label>Code</label>
        <input [formControlName]="'code'" class="form-control" id="code" type="text"/>
        <p *ngIf="isControlHasError('code','required')" class="text-danger">
          <small><strong>code is required</strong></small>
        </p>
        <p *ngIf="isControlHasError('code','minlength')" class="text-danger">
          <small><strong>password minimum length is 6</strong></small>
        </p>
        <p *ngIf="isControlHasError('password','maxlength')" class="text-danger">
          <small><strong>password maximum length is 6</strong></small>
        </p>
      </div>
      <div>
        <button class="btn btn-primary" type="submit">verify</button>
      </div>
    </form>
  </div>
</div>
