<div class="row">
  <div *ngIf="!verify" class="col-xs-12 col-md-6 col-md-offset-3">
    <div *ngIf="error" class="alert alert-danger">
      <p>{{ error }}</p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
      <div class="form-group">
        <label>E-Mail</label>
        <input [formControlName]="'email'" class="form-control" id="email" type="email"/>
        <span *ngIf="isControlHasError('email','required')" class="text-danger">
          <small><strong>Email is required</strong></small>
        </span>
        <span *ngIf="isControlHasError('email','email')" class="text-danger">
          <small><strong>Field is not valid</strong></small>
        </span>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input [formControlName]="'password'" class="form-control" id="password" type="password"/>
        <span *ngIf="isControlHasError('password','required')" class="text-danger">
          <small><strong>Password is required</strong></small>
        </span>
        <span *ngIf="isControlHasError('password','minlength')" class="text-danger">
          <small><strong>password minimum length is 6</strong></small>
        </span>
      </div>
      <div class="form-group">
        <label>Phone number</label>
        <input [formControlName]="'phoneNumber'" class="form-control" id="phoneNumber" type="text"/>
        <span *ngIf="isControlHasError('phoneNumber','required')" class="text-danger">
          <small><strong>Phone number is required</strong></small>
        </span>
      </div>
      <div class="form-check pb-3">
        <div>
          <input [formControlName]="'enable2fa'" class="form-check-input" id="exampleCheck1" type="checkbox">
          <label class="form-check-label" for="exampleCheck1">enable 2fa authentication</label>
        </div>
        <div *ngIf="f().enable2fa.value">
          <label class="form-check-label">choose seconde factor: </label>
          <label style="margin-left: 1rem">
            <input type="radio" value="GoogleAuth" formControlName="type_2fa">
            <span>  Google authenticator</span>
          </label>
          <label style="margin-left: 1rem">
            <input type="radio" value="sms" formControlName="type_2fa">
            <span>  sms</span>
          </label>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Sign up</button>
      </div>
      <div *ngIf="isLoading" style="text-align: center">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="verify">
    <app-activate-account [user]="userToSend" (isActivated)="isActivated($event)"></app-activate-account>
  </div>
</div>
